@font-face {
    font-family: arvoBold1;
    src: url(Arvo-Bold.ttf) format("truetype");
    font-size: 20px;
}
.title { /*This is the the class for my main titals */
    font-family: arvoBold1;
    /* Changes the font and colour easily with CSS 
    There are many other things I can do as well */
}

